fastapi==0.116.1
uvicorn[standard]==0.35.0
httpx==0.28.1
httpcore==1.0.9
pycryptodome==3.23.0
beautifulsoup4==4.13.4
python-multipart==0.0.32
requests==2.32.5
curl_cffi==0.14.0
websockets==16.0
Pillow==12.1.1
pypdfium2==5.12.1
jmcomic==2.7.0
rapidocr==3.9.2
onnxruntime==1.28.0
